@{
    Layout = "_Layout";
    ViewData["Title"] = "404";
}
<section class="breadcrumb-section pt-0">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb-contain">
                    <h2>404 Page</h2>
                    <nav>
                        <ol class="breadcrumb mb-0 d-flex align-items-center">
                            <li class="breadcrumb-item">
                                <a href="index.html">
                                    <i class="fa-solid fa-house"></i>
                                </a>
                            </li>
                            <li class="breadcrumb-item active">404</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-404">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="image-404 text-center">
                    <img src="./assets/images/404.png" alt="image">
                </div>
            </div>
            <div class="col-12 d-flex justify-content-center align-items-center">
                <div class="contain-404 d-flex justify-content-center align-items-center flex-wrap">
                    <h3 class="text-content text-center">
                        The page you are looking for could not be found. The link to
                        this
                        address may be outdated or we may have moved the since you last bookmarked it.
                    </h3>
                    <button onclick="location.href = 'index.html';"
                            class="btn-md text-white bg-theme">
                        Back To Home
                        Screen
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
