@{
    Layout = "_Layout";
    ViewData["Title"] = "Forgot Password";
}

<section class="log-in-section background-image-2 section-b-space">
    <div class="container w-100">
        <div class="row">
            <div class="col-xxl-6 col-xl-5 col-lg-6 d-lg-block d-none ms-auto">
                <div class="image-contain">
                    <img src="~/images/forgot.png" class="img-fluid" alt="">
                </div>
            </div>

            <div class="col-xxl-4 col-xl-5 col-lg-6 col-sm-8 mx-auto">
                <div class="log-in-box">
                    <div class="log-in-title">
                        <h3>Welcome To Fastkart</h3>
                        <h4>Forgot your password</h4>
                    </div>

                    <div class="input-box">
                        <form id="forgot_password_form" novalidate class="row g-4">
                            @Html.AntiForgeryToken()
                            <div class="col-12">
                                <div class="form-floating theme-form-floating log-in-form ">
                                    <input type="email"
                                           class="form-control"
                                           id="forgot-email"
                                           name="Email"
                                           placeholder="Email Address"
                                           required
                                           data-msg-required="Vui lòng nhập email"
                                           data-msg-email="Email không đúng định dạng">
                                    <label for="forgot-email">Email Address</label>
                                </div>
                            </div>


                            <div class="col-12">
                                <button class="btn-1 btn-animation hp w-100 justify-content-center" type="submit">
                                    Forgot
                                    Password
                                </button>
                            </div>
                        </form>
                    </div>


                </div>
            </div>
        </div>
    </div>
</section>
