@{
    Layout = "_Layout";
    ViewData["Title"] = "About us";
}

<section class="about-1">
    <div class="container ratio-148-1">
        <div class="row">
            <div class="col-xl-6 col-12">
                <div class="row">
                    <div class="col-6">
                        <div class="fresh-image">
                            <div class="bg-size">
                                <img src="./assets/images/about-fresh-2.jpg" alt="img" class="d-none">
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="fresh-image second">
                            <div class="second bg-size">
                                <img src="./assets/images/about-fresh-2.jpg" alt="img" class="d-none">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-12">
                <div class="fresh-contain p-center-left">
                    <div>
                        <div class="review-title">
                            <h4>About Us</h4>
                            <h2>We make Organic Food In Market</h2>
                        </div>

                        <div class="delivery-list">
                            <p class="text-content">
                                Just a few seconds to measure your body temperature. Up to 5
                                users! The battery lasts up to 2 years. There are many variations of passages of
                                Lorem Ipsum available.We started in 2019 and haven't stopped smashing it since. A
                                global brand that doesn't sleep, we are 24/7 and always bringing something new with
                                over 100 new products dropping on the monthly, bringing you the latest looks for
                                less.
                            </p>

                            <ul class="delivery-box">
                                <li>
                                    <div class="delivery-box">
                                        <div class="delivery-icon">
                                            <img src="./assets/images/delivery.svg" class="blur-up lazyloaded"
                                                 alt="">
                                        </div>

                                        <div class="delivery-detail">
                                            <h5 class="text">Free delivery for all orders</h5>
                                        </div>
                                    </div>
                                </li>

                                <li>
                                    <div class="delivery-box">
                                        <div class="delivery-icon">
                                            <img src="./assets/images/leaf.svg" class="blur-up lazyloaded" alt="">
                                        </div>

                                        <div class="delivery-detail">
                                            <h5 class="text">Only fresh foods</h5>
                                        </div>
                                    </div>
                                </li>

                                <li>
                                    <div class="delivery-box">
                                        <div class="delivery-icon">
                                            <img src="./assets/images/delivery.svg" class="blur-up lazyloaded"
                                                 alt="">
                                        </div>

                                        <div class="delivery-detail">
                                            <h5 class="text">Free delivery for all orders</h5>
                                        </div>
                                    </div>
                                </li>

                                <li>
                                    <div class="delivery-box">
                                        <div class="delivery-icon">
                                            <img src="./assets/images/leaf.svg" class="blur-up lazyloaded" alt="">
                                        </div>

                                        <div class="delivery-detail">
                                            <h5 class="text">Only fresh foods</h5>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="about-2">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="about-us-title text-center">
                    <h4>What We Do</h4>
                    <h2 class="center">We are Trusted by Clients</h2>
                </div>
                <div class="slide-about-2 product-wrapper">
                    <div class="clint-contain">
                        <div class="client-icon">
                            <img src="./assets/images/work.svg" class="blur-up lazyloaded" alt="">
                        </div>
                        <h2>10</h2>
                        <h4>Business Years</h4>
                        <p>
                            A coffee shop is a small business that sells coffee, pastries, and other morning
                            goods. There are many different types of coffee shops around the world.
                        </p>
                    </div>
                    <div class="clint-contain">
                        <div class="client-icon">
                            <img src="./assets/images/buy.svg" class="blur-up lazyloaded" alt="">
                        </div>
                        <h2>80 K+</h2>
                        <h4>Products Sales</h4>
                        <p>
                            Some coffee shops have a seating area, while some just have a spot to order and then
                            go somewhere else to sit down. The coffee shop that I am going to.
                        </p>
                    </div>
                    <div class="clint-contain">
                        <div class="client-icon">
                            <img src="./assets/images/user.svg" class="blur-up lazyloaded" alt="">
                        </div>
                        <h2>80%</h2>
                        <h4>Happy Customers</h4>
                        <p>
                            My goal for this coffee shop is to be able to get a coffee and get on with my day.
                            It's a Thursday morning and I am rushing between meetings.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="about-3">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="about-us-title text-center">
                    <h4>Our Creative Team</h4>
                    <h2 class="center">fastkart team member</h2>
                </div>
                <div class="slider-user product-wrapper">
                    <div class="team-box">
                        <div class="team-image">
                            <img src="./assets/images/user-1.jpg" class="img-fluid blur-up lazyloaded" alt="">
                        </div>

                        <div class="team-name">
                            <h3>Anna Baranov</h3>
                            <h5>Marketing</h5>
                            <p>cheese on toast mozzarella bavarian bergkase smelly cheese cheesy feet.</p>
                            <ul class="team-media">
                                <li>
                                    <a href="https://www.facebook.com/" class="fb-bg" tabindex="0">
                                        <i class="fa-brands fa-facebook-f"></i>
                                    </a>
                                </li>

                                <li>
                                    <a href="https://in.pinterest.com/" class="pint-bg" tabindex="0">
                                        <i class="fa-brands fa-pinterest-p"></i>
                                    </a>
                                </li>

                                <li>
                                    <a href="https://twitter.com/" class="twitter-bg" tabindex="0">
                                        <i class="fa-brands fa-twitter"></i>
                                    </a>
                                </li>

                                <li>
                                    <a href="https://www.instagram.com/" class="insta-bg" tabindex="0">
                                        <i class="fa-brands fa-instagram"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="team-box">
                        <div class="team-image">
                            <img src="./assets/images/user-1.jpg" class="img-fluid blur-up lazyloaded" alt="">
                        </div>

                        <div class="team-name">
                            <h3>Anna Baranov</h3>
                            <h5>Marketing</h5>
                            <p>cheese on toast mozzarella bavarian bergkase smelly cheese cheesy feet.</p>
                            <ul class="team-media">
                                <li>
                                    <a href="https://www.facebook.com/" class="fb-bg" tabindex="0">
                                        <i class="fa-brands fa-facebook-f"></i>
                                    </a>
                                </li>

                                <li>
                                    <a href="https://in.pinterest.com/" class="pint-bg" tabindex="0">
                                        <i class="fa-brands fa-pinterest-p"></i>
                                    </a>
                                </li>

                                <li>
                                    <a href="https://twitter.com/" class="twitter-bg" tabindex="0">
                                        <i class="fa-brands fa-twitter"></i>
                                    </a>
                                </li>

                                <li>
                                    <a href="https://www.instagram.com/" class="insta-bg" tabindex="0">
                                        <i class="fa-brands fa-instagram"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="team-box">
                        <div class="team-image">
                            <img src="./assets/images/user-1.jpg" class="img-fluid blur-up lazyloaded" alt="">
                        </div>

                        <div class="team-name">
                            <h3>Anna Baranov</h3>
                            <h5>Marketing</h5>
                            <p>cheese on toast mozzarella bavarian bergkase smelly cheese cheesy feet.</p>
                            <ul class="team-media">
                                <li>
                                    <a href="https://www.facebook.com/" class="fb-bg" tabindex="0">
                                        <i class="fa-brands fa-facebook-f"></i>
                                    </a>
                                </li>

                                <li>
                                    <a href="https://in.pinterest.com/" class="pint-bg" tabindex="0">
                                        <i class="fa-brands fa-pinterest-p"></i>
                                    </a>
                                </li>

                                <li>
                                    <a href="https://twitter.com/" class="twitter-bg" tabindex="0">
                                        <i class="fa-brands fa-twitter"></i>
                                    </a>
                                </li>

                                <li>
                                    <a href="https://www.instagram.com/" class="insta-bg" tabindex="0">
                                        <i class="fa-brands fa-instagram"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="team-box">
                        <div class="team-image">
                            <img src="./assets/images/user-1.jpg" class="img-fluid blur-up lazyloaded" alt="">
                        </div>

                        <div class="team-name">
                            <h3>Anna Baranov</h3>
                            <h5>Marketing</h5>
                            <p>cheese on toast mozzarella bavarian bergkase smelly cheese cheesy feet.</p>
                            <ul class="team-media">
                                <li>
                                    <a href="https://www.facebook.com/" class="fb-bg" tabindex="0">
                                        <i class="fa-brands fa-facebook-f"></i>
                                    </a>
                                </li>

                                <li>
                                    <a href="https://in.pinterest.com/" class="pint-bg" tabindex="0">
                                        <i class="fa-brands fa-pinterest-p"></i>
                                    </a>
                                </li>

                                <li>
                                    <a href="https://twitter.com/" class="twitter-bg" tabindex="0">
                                        <i class="fa-brands fa-twitter"></i>
                                    </a>
                                </li>

                                <li>
                                    <a href="https://www.instagram.com/" class="insta-bg" tabindex="0">
                                        <i class="fa-brands fa-instagram"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="about-4 review-section">
    <div class="container-fluid">
        <div class="about-us-title text-center">
            <h4>Latest Testimonials</h4>
            <h2 class="center">What people say</h2>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="slider-4-half product-wrapper">
                    <div class="reviewer-box">
                        <i class="fa-solid fa-quote-right"></i>
                        <div class="product-rating">
                            <ul class="rating">
                                <li>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                         viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                         stroke-linecap="round" stroke-linejoin="round"
                                         class="feather feather-star fill">
                                        <polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2">
                                        </polygon>
                                    </svg>
                                </li>
                                <li>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                         viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                         stroke-linecap="round" stroke-linejoin="round"
                                         class="feather feather-star fill">
                                        <polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2">
                                        </polygon>
                                    </svg>
                                </li>
                                <li>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                         viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                         stroke-linecap="round" stroke-linejoin="round"
                                         class="feather feather-star fill">
                                        <polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2">
                                        </polygon>
                                    </svg>
                                </li>
                                <li>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                         viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                         stroke-linecap="round" stroke-linejoin="round"
                                         class="feather feather-star fill">
                                        <polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2">
                                        </polygon>
                                    </svg>
                                </li>
                                <li>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                         viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                         stroke-linecap="round" stroke-linejoin="round" class="feather feather-star">
                                        <polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2">
                                        </polygon>
                                    </svg>
                                </li>
                            </ul>
                        </div>
                        <h3>Top Quality, Beautiful Location</h3>
                        <p>
                            "I was skeptical of SEO and content marketing at first, but the Lorem Ipsum Company
                            not only proved itself financially speaking, but the response I have received from
                            customers is incredible."
                        </p>
                        <div class="reviewer-profile">
                            <div class="reviewer-image">
                                <img src="./assets/images/user-1.jpg" class="blur-up lazyload" alt="">
                            </div>
                            <div class="reviewer-name">
                                <h4>Gwen J. Geiger</h4>
                                <h6>Designer</h6>
                            </div>
                        </div>
                    </div>
                    <div class="reviewer-box">
                        <i class="fa-solid fa-quote-right"></i>
                        <div class="product-rating">
                            <ul class="rating">
                                <li>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                         viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                         stroke-linecap="round" stroke-linejoin="round"
                                         class="feather feather-star fill">
                                        <polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2">
                                        </polygon>
                                    </svg>
                                </li>
                                <li>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                         viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                         stroke-linecap="round" stroke-linejoin="round"
                                         class="feather feather-star fill">
                                        <polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2">
                                        </polygon>
                                    </svg>
                                </li>
                                <li>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                         viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                         stroke-linecap="round" stroke-linejoin="round"
                                         class="feather feather-star fill">
                                        <polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2">
                                        </polygon>
                                    </svg>
                                </li>
                                <li>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                         viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                         stroke-linecap="round" stroke-linejoin="round"
                                         class="feather feather-star fill">
                                        <polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2">
                                        </polygon>
                                    </svg>
                                </li>
                                <li>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                         viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                         stroke-linecap="round" stroke-linejoin="round" class="feather feather-star">
                                        <polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2">
                                        </polygon>
                                    </svg>
                                </li>
                            </ul>
                        </div>
                        <h3>Top Quality, Beautiful Location</h3>
                        <p>
                            "I was skeptical of SEO and content marketing at first, but the Lorem Ipsum Company
                            not only proved itself financially speaking, but the response I have received from
                            customers is incredible."
                        </p>
                        <div class="reviewer-profile">
                            <div class="reviewer-image">
                                <img src="./assets/images/user-1.jpg" class="blur-up lazyload" alt="">
                            </div>
                            <div class="reviewer-name">
                                <h4>Gwen J. Geiger</h4>
                                <h6>Designer</h6>
                            </div>
                        </div>
                    </div>
                    <div class="reviewer-box">
                        <i class="fa-solid fa-quote-right"></i>
                        <div class="product-rating">
                            <ul class="rating">
                                <li>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                         viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                         stroke-linecap="round" stroke-linejoin="round"
                                         class="feather feather-star fill">
                                        <polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2">
                                        </polygon>
                                    </svg>
                                </li>
                                <li>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                         viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                         stroke-linecap="round" stroke-linejoin="round"
                                         class="feather feather-star fill">
                                        <polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2">
                                        </polygon>
                                    </svg>
                                </li>
                                <li>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                         viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                         stroke-linecap="round" stroke-linejoin="round"
                                         class="feather feather-star fill">
                                        <polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2">
                                        </polygon>
                                    </svg>
                                </li>
                                <li>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                         viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                         stroke-linecap="round" stroke-linejoin="round"
                                         class="feather feather-star fill">
                                        <polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2">
                                        </polygon>
                                    </svg>
                                </li>
                                <li>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                         viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                         stroke-linecap="round" stroke-linejoin="round" class="feather feather-star">
                                        <polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2">
                                        </polygon>
                                    </svg>
                                </li>
                            </ul>
                        </div>
                        <h3>Top Quality, Beautiful Location</h3>
                        <p>
                            "I was skeptical of SEO and content marketing at first, but the Lorem Ipsum Company
                            not only proved itself financially speaking, but the response I have received from
                            customers is incredible."
                        </p>
                        <div class="reviewer-profile">
                            <div class="reviewer-image">
                                <img src="./assets/images/user-1.jpg" class="blur-up lazyload" alt="">
                            </div>
                            <div class="reviewer-name">
                                <h4>Gwen J. Geiger</h4>
                                <h6>Designer</h6>
                            </div>
                        </div>
                    </div>
                    <div class="reviewer-box">
                        <i class="fa-solid fa-quote-right"></i>
                        <div class="product-rating">
                            <ul class="rating">
                                <li>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                         viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                         stroke-linecap="round" stroke-linejoin="round"
                                         class="feather feather-star fill">
                                        <polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2">
                                        </polygon>
                                    </svg>
                                </li>
                                <li>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                         viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                         stroke-linecap="round" stroke-linejoin="round"
                                         class="feather feather-star fill">
                                        <polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2">
                                        </polygon>
                                    </svg>
                                </li>
                                <li>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                         viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                         stroke-linecap="round" stroke-linejoin="round"
                                         class="feather feather-star fill">
                                        <polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2">
                                        </polygon>
                                    </svg>
                                </li>
                                <li>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                         viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                         stroke-linecap="round" stroke-linejoin="round"
                                         class="feather feather-star fill">
                                        <polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2">
                                        </polygon>
                                    </svg>
                                </li>
                                <li>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                         viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                         stroke-linecap="round" stroke-linejoin="round" class="feather feather-star">
                                        <polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2">
                                        </polygon>
                                    </svg>
                                </li>
                            </ul>
                        </div>
                        <h3>Top Quality, Beautiful Location</h3>
                        <p>
                            "I was skeptical of SEO and content marketing at first, but the Lorem Ipsum Company
                            not only proved itself financially speaking, but the response I have received from
                            customers is incredible."
                        </p>
                        <div class="reviewer-profile">
                            <div class="reviewer-image">
                                <img src="./assets/images/user-1.jpg" class="blur-up lazyload" alt="">
                            </div>
                            <div class="reviewer-name">
                                <h4>Gwen J. Geiger</h4>
                                <h6>Designer</h6>
                            </div>
                        </div>
                    </div>
                    <div class="reviewer-box">
                        <i class="fa-solid fa-quote-right"></i>
                        <div class="product-rating">
                            <ul class="rating">
                                <li>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                         viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                         stroke-linecap="round" stroke-linejoin="round"
                                         class="feather feather-star fill">
                                        <polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2">
                                        </polygon>
                                    </svg>
                                </li>
                                <li>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                         viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                         stroke-linecap="round" stroke-linejoin="round"
                                         class="feather feather-star fill">
                                        <polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2">
                                        </polygon>
                                    </svg>
                                </li>
                                <li>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                         viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                         stroke-linecap="round" stroke-linejoin="round"
                                         class="feather feather-star fill">
                                        <polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2">
                                        </polygon>
                                    </svg>
                                </li>
                                <li>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                         viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                         stroke-linecap="round" stroke-linejoin="round"
                                         class="feather feather-star fill">
                                        <polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2">
                                        </polygon>
                                    </svg>
                                </li>
                                <li>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                         viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                         stroke-linecap="round" stroke-linejoin="round" class="feather feather-star">
                                        <polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2">
                                        </polygon>
                                    </svg>
                                </li>
                            </ul>
                        </div>
                        <h3>Top Quality, Beautiful Location</h3>
                        <p>
                            "I was skeptical of SEO and content marketing at first, but the Lorem Ipsum Company
                            not only proved itself financially speaking, but the response I have received from
                            customers is incredible."
                        </p>
                        <div class="reviewer-profile">
                            <div class="reviewer-image">
                                <img src="./assets/images/user-1.jpg" class="blur-up lazyload" alt="">
                            </div>
                            <div class="reviewer-name">
                                <h4>Gwen J. Geiger</h4>
                                <h6>Designer</h6>
                            </div>
                        </div>
                    </div>
                    <div class="reviewer-box">
                        <i class="fa-solid fa-quote-right"></i>
                        <div class="product-rating">
                            <ul class="rating">
                                <li>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                         viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                         stroke-linecap="round" stroke-linejoin="round"
                                         class="feather feather-star fill">
                                        <polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2">
                                        </polygon>
                                    </svg>
                                </li>
                                <li>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                         viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                         stroke-linecap="round" stroke-linejoin="round"
                                         class="feather feather-star fill">
                                        <polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2">
                                        </polygon>
                                    </svg>
                                </li>
                                <li>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                         viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                         stroke-linecap="round" stroke-linejoin="round"
                                         class="feather feather-star fill">
                                        <polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2">
                                        </polygon>
                                    </svg>
                                </li>
                                <li>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                         viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                         stroke-linecap="round" stroke-linejoin="round"
                                         class="feather feather-star fill">
                                        <polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2">
                                        </polygon>
                                    </svg>
                                </li>
                                <li>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                         viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                         stroke-linecap="round" stroke-linejoin="round" class="feather feather-star">
                                        <polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2">
                                        </polygon>
                                    </svg>
                                </li>
                            </ul>
                        </div>
                        <h3>Top Quality, Beautiful Location</h3>
                        <p>
                            "I was skeptical of SEO and content marketing at first, but the Lorem Ipsum Company
                            not only proved itself financially speaking, but the response I have received from
                            customers is incredible."
                        </p>
                        <div class="reviewer-profile">
                            <div class="reviewer-image">
                                <img src="./assets/images/user-1.jpg" class="blur-up lazyload" alt="">
                            </div>
                            <div class="reviewer-name">
                                <h4>Gwen J. Geiger</h4>
                                <h6>Designer</h6>
                            </div>
                        </div>
                    </div>
                    <div class="reviewer-box">
                        <i class="fa-solid fa-quote-right"></i>
                        <div class="product-rating">
                            <ul class="rating">
                                <li>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                         viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                         stroke-linecap="round" stroke-linejoin="round"
                                         class="feather feather-star fill">
                                        <polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2">
                                        </polygon>
                                    </svg>
                                </li>
                                <li>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                         viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                         stroke-linecap="round" stroke-linejoin="round"
                                         class="feather feather-star fill">
                                        <polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2">
                                        </polygon>
                                    </svg>
                                </li>
                                <li>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                         viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                         stroke-linecap="round" stroke-linejoin="round"
                                         class="feather feather-star fill">
                                        <polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2">
                                        </polygon>
                                    </svg>
                                </li>
                                <li>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                         viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                         stroke-linecap="round" stroke-linejoin="round"
                                         class="feather feather-star fill">
                                        <polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2">
                                        </polygon>
                                    </svg>
                                </li>
                                <li>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                         viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                         stroke-linecap="round" stroke-linejoin="round" class="feather feather-star">
                                        <polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2">
                                        </polygon>
                                    </svg>
                                </li>
                            </ul>
                        </div>
                        <h3>Top Quality, Beautiful Location</h3>
                        <p>
                            "I was skeptical of SEO and content marketing at first, but the Lorem Ipsum Company
                            not only proved itself financially speaking, but the response I have received from
                            customers is incredible."
                        </p>
                        <div class="reviewer-profile">
                            <div class="reviewer-image">
                                <img src="./assets/images/user-1.jpg" class="blur-up lazyload" alt="">
                            </div>
                            <div class="reviewer-name">
                                <h4>Gwen J. Geiger</h4>
                                <h6>Designer</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="about-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="about-us-title text-center">
                    <h4>Our Blog</h4>
                    <h2 class="center">Our Latest Blog</h2>
                </div>
                <div class="slider-5 ratio_87">
                    <div class="blog-box">
                        <div class="blog-box-image">
                            <div class="blog-image">
                                <a href="blog-detail.html" class="rounded-3 bg-size blur-up lazyloaded" tabindex="0"
                                   style="background-image: url('../assets/images/blog-1.jpg'); background-size: cover; background-position: center center; background-repeat: no-repeat; display: block;">
                                    <img src="./assets/images/blog-1.jpg" class="bg-img blur-up lazyload" alt=""
                                         style="display: none;">
                                </a>
                            </div>
                        </div>

                        <a href="blog-detail.html" class="blog-detail d-block" tabindex="0">
                            <h6>Beer Brand</h6>
                            <h5>Fresh Beer -30% OFF</h5>
                        </a>
                    </div>
                    <div class="blog-box">
                        <div class="blog-box-image">
                            <div class="blog-image">
                                <a href="blog-detail.html" class="rounded-3 bg-size blur-up lazyloaded" tabindex="0"
                                   style="background-image: url('../assets/images/blog-1.jpg'); background-size: cover; background-position: center center; background-repeat: no-repeat; display: block;">
                                    <img src="./assets/images/blog-1.jpg" class="bg-img blur-up lazyload" alt=""
                                         style="display: none;">
                                </a>
                            </div>
                        </div>

                        <a href="blog-detail.html" class="blog-detail d-block" tabindex="0">
                            <h6>Beer Brand</h6>
                            <h5>Fresh Beer -30% OFF</h5>
                        </a>
                    </div>
                    <div class="blog-box">
                        <div class="blog-box-image">
                            <div class="blog-image">
                                <a href="blog-detail.html" class="rounded-3 bg-size blur-up lazyloaded" tabindex="0"
                                   style="background-image: url('../assets/images/blog-1.jpg'); background-size: cover; background-position: center center; background-repeat: no-repeat; display: block;">
                                    <img src="./assets/images/blog-1.jpg" class="bg-img blur-up lazyload" alt=""
                                         style="display: none;">
                                </a>
                            </div>
                        </div>

                        <a href="blog-detail.html" class="blog-detail d-block" tabindex="0">
                            <h6>Beer Brand</h6>
                            <h5>Fresh Beer -30% OFF</h5>
                        </a>
                    </div>
                    <div class="blog-box">
                        <div class="blog-box-image">
                            <div class="blog-image">
                                <a href="blog-detail.html" class="rounded-3 bg-size blur-up lazyloaded" tabindex="0"
                                   style="background-image: url('../assets/images/blog-1.jpg'); background-size: cover; background-position: center center; background-repeat: no-repeat; display: block;">
                                    <img src="./assets/images/blog-1.jpg" class="bg-img blur-up lazyload" alt=""
                                         style="display: none;">
                                </a>
                            </div>
                        </div>

                        <a href="blog-detail.html" class="blog-detail d-block" tabindex="0">
                            <h6>Beer Brand</h6>
                            <h5>Fresh Beer -30% OFF</h5>
                        </a>
                    </div>
                    <div class="blog-box">
                        <div class="blog-box-image">
                            <div class="blog-image">
                                <a href="blog-detail.html" class="rounded-3 bg-size blur-up lazyloaded" tabindex="0"
                                   style="background-image: url('../assets/images/blog-1.jpg'); background-size: cover; background-position: center center; background-repeat: no-repeat; display: block;">
                                    <img src="./assets/images/blog-1.jpg" class="bg-img blur-up lazyload" alt=""
                                         style="display: none;">
                                </a>
                            </div>
                        </div>

                        <a href="blog-detail.html" class="blog-detail d-block" tabindex="0">
                            <h6>Beer Brand</h6>
                            <h5>Fresh Beer -30% OFF</h5>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>