@{
    Layout = "_LayoutAdmin";
    ViewData["title"] = "Product Reviews";
}

<section class="review-area">
    <div class="card card-table">
        <div class="header-title">
            <h5>Product Reviews</h5>
        </div>
        <div class="table-responsive">
            <div class="table-search">
                <label>
                    Search
                    <input type="text" name="name" value="" />
                </label>
            </div>
            <table class="table theme-table mb-0">
                <thead>
                    <tr>
                        <th>No.</th>
                        <th class="text-start">Customer Name</th>
                        <th class="text-start">Product Name</th>
                        <th>Rating</th>
                        <th class="text-start">Comment</th>
                        <th>Published</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>01</td>
                        <td class="text-start">Mourison Biologist</td>
                        <td class="text-start">Outwear & Coats</td>
                        <td>
                            <div class="rating-star">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-regular fa-star"></i>
                                <i class="fa-regular fa-star"></i>
                            </div>
                        </td>
                        <td class="text-start">The Product is No Long...</td>
                        <td>
                            <a href="#" class="icon-approve text-success">
                                <i class="fa-solid fa-check-circle"></i>
                            </a>
                        </td>
                    </tr>

                    <tr>
                        <td>02</td>
                        <td class="text-start">Carolino Harris</td>
                        <td class="text-start">Slim Fit Plastic Coat</td>
                        <td>
                            <div class="rating-star">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>
                        </td>
                        <td class="text-start">The Product is No Long...</td>
                        <td>
                            <a href="#" class="icon-approve text-success">
                                <i class="fa-solid fa-check-circle"></i>
                            </a>
                        </td>
                    </tr>

                    <tr>
                        <td>03</td>
                        <td class="text-start">Lucy Morile</td>
                        <td class="text-start">Men's Sweatshirt</td>
                        <td>
                            <div class="rating-star">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-regular fa-star"></i>
                                <i class="fa-regular fa-star"></i>
                            </div>
                        </td>
                        <td class="text-start">The Product is No Long...</td>
                        <td>
                            <a href="#" class="icon-approve text-success">
                                <i class="fa-solid fa-check-circle"></i>
                            </a>
                        </td>
                    </tr>

                    <tr>
                        <td>04</td>
                        <td class="text-start">Jennifer Straight</td>
                        <td class="text-start">Men's Hoodie t-shirt</td>
                        <td>
                            <div class="rating-star">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>
                        </td>
                        <td class="text-start">The Product is No Long...</td>
                        <td>
                            <a href="#" class="icon-reject text-danger">
                                <i class="fa-solid fa-times-circle"></i>
                            </a>
                        </td>
                    </tr>

                    <tr>
                        <td>05</td>
                        <td class="text-start">Kevin Millett</td>
                        <td class="text-start">Outwear & Coats</td>
                        <td>
                            <div class="rating-star">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-regular fa-star"></i>
                            </div>
                        </td>
                        <td class="text-start">The Product is No Long...</td>
                        <td>
                            <a href="#" class="icon-approve text-success">
                                <i class="fa-solid fa-check-circle"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>